body {
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  color: #ff847c;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  padding: 20px 0px;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
  color: #757a79;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 30px;
  margin: 60px auto;
  border-radius: 10px;
  max-width: 600px;
}
.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
.temperature {
  color: black;
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -34px;
}

#bt {
  color: #fff;
  background-color: #ff847c;
  border: #ff847c;
}
#source {
  display: flex;
  justify-content: center;
  align-items: center;
}
#link {
  display: inline-block;
}
